* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
:root {
    --dark-bue: #1a2456;
    --black: #080b1b;
    --orange: #ff8b68;
    --light-gray: #f0efed;
}
/*header*/
header {
    position: fixed;
    display: flex;
    place-content: center;
    width: 100%;
    z-index: 99;
}
.header-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: var(--dark-bue);
    margin: 10px;
    padding: 10px;
    place-content: center flex-start;
    position: fixed;
}
.logo {
    width: 200px;
}
.options-menu {
    display: none;
    place-self: center;
}
.options-menu a {
    color: #efc2b3;
    text-decoration: none;
    margin: 0 18px;
    font-weight: 300;
    font-size: 13px;
}
.icons-header {
    display: flex;
    place-items: center;
}
.icon {
    margin: 0 5px;
    place-self: center;
}
.euro {
    display: inline-block;
    color: #efc2b3;
    font-weight: 600;
}
.euro2 {
    display: none;
    color: #efc2b3;
    font-weight: 600;
}
/*main*/
.info-section {
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
}
.img-container {
    width: 100%;
    height: 425px;
    overflow: hidden;
}
.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.text-container {
    position: absolute;
    text-align: center;
    top: 92px;
}
.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.5;
}
.title, .subtitle {
    color: #efc2b3;
    margin-top: 10px;
}
.arrow-icon {
    position: absolute;
    top: 340px;
    width: 50px;
}
.cards-section {
    display: flex;
    flex-direction: column;
    place-content: center;
    width: 100%;
    place-items: center;
    background-color: var(--light-gray);
}
.card {
    width: 280px;
    margin: 20px 0;
}
.img-console {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 40px auto;
    overflow: hidden;
    position: relative;
}
.img-pack {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 40px auto;
}
.pre-order {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    background-color: var(--orange);
    text-align: center;
    z-index: 1;
    place-self: center stretch;
    font-weight: 400;
    font-size: 13px;
}
.console, .alternate-img {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    transition: opacity 0.3s;
    cursor: pointer;
}
.pack, .alternate-img {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    transition: opacity 0.3s;
    cursor: pointer;
}
.alternate-img {
    opacity: 0;
}
.img-console:hover .alternate-img {
    opacity: 1;
}
.card-console:hover .price {
    display: none;
}
.card-console:hover .shop-now {
    display: inline-block;
}
.img-pack:hover .alternate-img {
    opacity: 1;
}
.pack-card:hover .price {
    display: none;
}
.pack-card:hover .shop-now {
    display: inline-block;
}
.pack {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.name-price {
    display: flex;
    place-content: space-between;
}
.name-price:hover .shop-now {
    display: inline-block;
}
.name-price:hover .price {
    display: none;
}
.name {
    font-weight: 600;
    color: var(--dark-bue);
    font-size: 18px;
    place-self: center;
    max-width: 162px;
}
.shop-now {
    display: none;
    border: none;
    border-radius: 15px;
    background-color: #1a2456;
    color: white;
    width: 100px;
    height: 34px;
    margin-top: 5px;
}
.price {
    place-self: center;
    color: #646a8a;
    font-size: 14px;
}
.info-text {
    color: #646a8a;
    font-weight: 300;
    font-size: 14px;
}
.img-suggestion {
    position: relative;
    display: flex;
    place-content: center;
    width: 100%;
    height: 270px;
    overflow: hidden;
}
.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-suggestion {
    position: absolute;
    top: 16px;
    text-align: center;
    color: #1a2456;
    font-weight: 600;
    font-size: 26px;
    max-width: 200px;
}
.suggestion-subtitle {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}
/*footer*/
footer {
    display: flex;
    place-content: center;
    width: 100%;
    background-color: #1a2456;
}
.footer-container {
    display: flex;
    place-content: center;
    place-items: center;
    color: #efc2b3;
    margin-top: 48px;
    flex-direction: column;
    width: 100%;
}
.top-section {
    display: flex;
    flex-direction: column;
    place-content: center;
    margin: 0 15px;
}
.subscribe {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 15px;
}
.subtitle-subscribe {
    font-size: 14px;
    font-weight: 300;
}
.input-button {
    margin: 10px 0;
}
.input {
    background-color: #1a2456;
    color: #a2aab5;
    border: 1px solid #efc2b3;
}
.button {
    width: 80px;
    background-color: #efc2b3;
    border: none;
    border-radius: 10px;
    height: 28px;
}
.icon-footer {
    width: 24px;
    height: 24px;
    background-color: #efc2b3;
    border-radius: 50%;
    padding: 4px;
}
.middle-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 74px;
    place-content: center;
    place-items: center;
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
}
.title-list {
    margin-bottom: 5px;
}
.list-2 {
    display: none;
    place-self: start;
    line-height: 2;
    font-size: 12px;
    font-weight: 300;
}
.middle-section ul {
    list-style: none;
    text-align: start;
}
.middle-section ul a {
    text-decoration: none;
    color: #efc2b3;
}
ul {
    list-style: none;
    text-align: start;
}
ul a {
    text-decoration: none;
    color: #efc2b3;
}
.name-footer {
    margin: 30px 0 30px 30px;
    place-self: start;
}
/*medias-header*/
@media (min-width: 340px) {
    .header-container {
        place-content: space-between;
        flex-direction: row;
    }
}
@media (min-width: 576px) {
    .euro {
        display: none;
    }
    .euro2 {
        display: inline-block;
        font-weight: 600;
    }
}
@media (min-width: 768px) {
    .euro2 {
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    .menu-icon {
        display: none;
    }
    .options-menu {
        display: inline-block;
    }
}
/*medias-main-info-section*/
@media (min-width: 420px) {
    .text-container {
        top: 122px;
        max-width: 414px;
    }
}
@media (min-width: 576px) {
    .title {
        font-size: 42px;
    }
}
@media (min-width: 768px) {
    .img-container {
        height: 670px;
    }
    .text-container {
        top: 256px;
    }
    .arrow-icon {
        margin-top: 266px;
    }
}
/*media-main-cards-section*/
@media (min-width: 375px) {
    .card {
        width: 330px;
    }
}
@media (min-width: 425px) {
    .card {
        width: 380px;
    }
}
@media (min-width: 450px) {
    .card {
        width: 410px;
    }
}
@media (min-width: 525px) {
    .card {
        width: 480px;
    }
    .img-suggestion {
        height: 370px;
    }
    .text-suggestion {
        top: 38px;
        font-size: 48px;
        max-width: 370px;
    }
    .suggestion-subtitle {
        font-size: 28px;
        margin-top: 46px;
    }
}
@media (min-width: 610px) {
    .card {
        width: 560px;
    }
}
@media (min-width: 660px) {
    .card {
        width: 660px;
    }
}
@media (min-width: 768px) {
    .console-section {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 30px;
    }
    .packs-section {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        padding-bottom: 18px;
        gap: 10px;
    }
    .card-console {
        width: 335px;
    }
    .pack-card {
        width: 354px;
    }
    .pack-name {
        max-height: 0;
    }
    .card {
        margin: 28px 0;
    }
    .name {
        max-width: 220px;
    }
    .info-text {
        font-size: 15px;
    }
}
@media (min-width: 876px) {
    .card-console {
        width: 400px;
    }
    .pack-card {
        width: 404px;
    }
}
@media (min-width: 992px) {
    .card-console {
        width: 460px;
    }
    .img-suggestion {
        height: 526px;
    }
    .pack-card {
        width: 460px;
    }
}
@media (min-width: 1064px) {
    .card-console, .pack-card {
        width: 500px;
    }
}
@media (min-width: 1164px) {
    .card-console, .pack-card {
        width: 556px;
    }
}
@media (min-width: 1200px) {
    .packs-section {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        padding: 0 90px;
        gap: 26px;
    }
    .console-section {
        padding: 0 60px;
    }
    .card-console {
        width: 514px;
    }
    .pack-card {
        width: 315px;
    }
}
@media (min-width: 1300px) {
    .pack-card {
        width: 315px;
    }
    .card-console {
        width: 550px;
    }
    .info-text {
        font-size: 16px;
    }
}
@media (min-width: 1400px) {
    .pack-card {
        width: 360px;
    }
    .card-console {
        width: 606px;
    }
}
@media (min-width: 1550px) {
    .card-console {
        width: 688px;
    }
    .pack-card {
        width: 440px;
    }
    .info-text {
        font-size: 18px;
    }
    .name {
        font-size: 22px;
    }
    .price {
        font-size: 20px;
    }
}
@media (min-width: 1670px) {
    .card-console {
        width: 720px;
    }
    .pack-card {
        width: 454px;
    }
}
@media (min-width: 1790px) {
    .card-console {
        width: 760px;
    }
    .pack-card {
        width: 480px;
    }
    .info-text {
        font-size: 20px;
    }
    .name {
        font-size: 24px;
    }
}
@media (min-width: 1850px) {
    .card-console {
        width: 700px;
    }
    .pack-card {
        width: 400px;
    }
}
/*medias-footer*/
@media (min-width: 500px) {
    .list {
        font-size: 14px;
    }
    .list-2 {
        font-size: 14px;
    }
}
@media (min-width: 568px) {
    .footer-container {
        display: grid;
        grid-template-rows: 1fr 40px 1fr;
        grid-template-columns: repeat(3, 1fr);
        margin: 18px;
    }
    .top-section {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    .name-footer {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 0;
        place-self: center;
    }
    .middle-section {
        display: none;
    }
    .list-2 {
        display: inline-block;
        place-self: center;
        font-size: 15px;
    }
    .monogram-list {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .quick-links-list {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .help-list {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .information-list {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
}
@media (min-width: 992px) {
    .footer-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 40px;
        margin: 50px 100px;
    }
    .list-2 {
        place-self: start;
    }
    .monogram-list {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }
    .quick-links-list {
        grid-column: 2 / 3;
         grid-row: 1 / 1;
    }
    .help-list {
        grid-column: 3 / 4;
        grid-row: 1 / 1;
    }
    .information-list {
        grid-column: 4 / 5;
        grid-row: 1 / 1;
    }
    .top-section {
        grid-column: 5 / 6;
        grid-row: 1 / 1;
    }
    .name-footer {
        grid-column: 5 / 6;
        grid-row: 2 / 3;
    }
    .button {
        margin: 10px 0;
    }
}
@media (min-width: 1440px) {
    .footer-container {
        margin: 50px 160px;
    }
}