* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
:root {
    --dark-bue: #1a2456;
    --black: #080b1b;
    --orange: #ff8b68;
    --light-gray: #f0efed;
}
header {
    display: flex;
    place-content: center;
    width: 100%;
}
.header-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: var(--dark-bue);
    margin: 10px;
    padding: 10px;
    place-content: center flex-start;
    position: fixed;
}
.logo {
    width: 200px;
}
.options-menu {
    display: none;
    place-self: center;
}
.options-menu a {
    color: #efc2b3;
    text-decoration: none;
    margin: 0 18px;
    font-weight: 300;
    font-size: 13px;
}
.icons-header {
    display: flex;
    place-items: center;
}
.icon {
    margin: 0 5px;
    place-self: center;
}
.euro {
    display: inline-block;
    color: #efc2b3;
    font-weight: 600;
}
.euro2 {
    display: none;
    color: #efc2b3;
    font-weight: 600;
}
/*medias-header*/
@media (min-width: 340px) {
    .header-container {
        place-content: space-between;
        flex-direction: row;
    }
}
@media (min-width: 576px) {
    .euro {
        display: none;
    }
    .euro2 {
        display: inline-block;
        font-weight: 600;
    }
}
@media (min-width: 768px) {
    .euro2 {
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    .menu-icon {
        display: none;
    }
    .options-menu {
        display: inline-block;
    }
}