* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
:root {
    --dark-bue: #1a2456;
    --black: #080b1b;
    --orange: #ff8b68;
    --light-gray: #f0efed;
}
/*header*/
header {
    position: fixed;
    display: flex;
    place-content: center;
    width: 100%;
    z-index: 99;
}
.header-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: var(--dark-bue);
    margin: 10px;
    padding: 10px;
    place-content: center flex-start;
    position: fixed;
}
.logo {
    width: 200px;
}
.options-menu {
    display: none;
    place-self: center;
}
.options-menu a {
    color: #efc2b3;
    text-decoration: none;
    margin: 0 18px;
    font-weight: 300;
    font-size: 13px;
}
.icons-header {
    display: flex;
    place-items: center;
}
.icon {
    margin: 0 5px;
    place-self: center;
}
.euro {
    display: inline-block;
    color: #efc2b3;
    font-weight: 600;
}
.euro2 {
    display: none;
    color: #efc2b3;
    font-weight: 600;
}
/*main*/
.info-section {
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
}
.img-container {
    width: 100%;
    height: 425px;
    overflow: hidden;
}
.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.text-container {
    position: absolute;
    text-align: center;
    top: 92px;
}
.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.5;
}
.title, .subtitle {
    color: #efc2b3;
    margin-top: 10px;
}
.arrow-icon {
    position: absolute;
    top: 340px;
    width: 50px;
}
.cards-section {
    display: flex;
    flex-direction: column;
    place-content: center;
    width: 100%;
    place-items: center;
    background-color: var(--light-gray);
}
.card {
    width: 280px;
    margin: 20px 0;
}
.img-console {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 40px auto;
}
.img-pack {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 40px auto;
}
.pre-order {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    background-color: var(--orange);
    text-align: center;
    z-index: 1;
    place-self: center stretch;
    font-weight: 400;
    font-size: 13px;
}
.console {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.pack {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.name-price {
    display: flex;
    place-content: space-between;
}
.name {
    font-weight: 600;
    color: var(--dark-bue);
    font-size: 18px;
    place-self: center;
    max-width: 162px;
}
.price {
    place-self: center;
    color: #646a8a;
    font-size: 14px;
}
.info-text {
    color: #646a8a;
    font-weight: 300;
    font-size: 14px;
}
.img-suggestion {
    position: relative;
    display: flex;
    place-content: center;
    width: 100%;
    height: 270px;
    overflow: hidden;
}
.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-suggestion {
    position: absolute;
    top: 16px;
    text-align: center;
    color: #1a2456;
    font-weight: 600;
    font-size: 26px;
    max-width: 200px;
}
.suggestion-subtitle {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}
/*medias-header*/
@media (min-width: 340px) {
    .header-container {
        place-content: space-between;
        flex-direction: row;
    }
}
@media (min-width: 576px) {
    .euro {
        display: none;
    }
    .euro2 {
        display: inline-block;
        font-weight: 600;
    }
}
@media (min-width: 768px) {
    .euro2 {
        font-size: 12px;
    }
}
@media (min-width: 992px) {
    .menu-icon {
        display: none;
    }
    .options-menu {
        display: inline-block;
    }
}
/*medias-main-info-section*/
@media (min-width: 420px) {
    .text-container {
        top: 122px;
        max-width: 414px;
    }
}
@media (min-width: 576px) {
    .title {
        font-size: 42px;
    }
}
@media (min-width: 768px) {
    .img-container {
        height: 670px;
    }
    .text-container {
        top: 256px;
    }
    .arrow-icon {
        margin-top: 266px;
    }
}
/*media-main-cards-section*/
@media (min-width: 375px) {
    .card {
        width: 330px;
    }
}
@media (min-width: 425px) {
    .card {
        width: 380px;
    }
}
@media (min-width: 450px) {
    .card {
        width: 410px;
    }
}
@media (min-width: 525px) {
    .card {
        width: 480px;
    }
    .img-suggestion {
        height: 370px;
    }
    .text-suggestion {
        top: 38px;
        font-size: 48px;
        max-width: 370px;
    }
    .suggestion-subtitle {
        font-size: 28px;
        margin-top: 46px;
    }
}
@media (min-width: 610px) {
    .card {
        width: 560px;
    }
}
@media (min-width: 660px) {
    .card {
        width: 660px;
    }
}